
@font-face {
  font-family: 'Star Wars';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/starjedi.eot'); /* IE9 Compat Modes */
  src: local('Star Wars'), local('StarWars'),
       url('./fonts/starjedi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/starjedi.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/starjedi.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Starjedi.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/starjedi.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Star Wars Aurebash';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/aurebesh.eot'); /* IE9 Compat Modes */
  src: local('Aurebash'), local('Aurebash'),
       url('./fonts/aurebesh.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/aurebesh.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Aurebesh.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/aurebesh.svg#OpenSans') format('svg'); /* Legacy iOS */
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  min-height: auto;
}
.starwars {
  font-family: 'Star Wars';
}
.aurebash {
  font-family: 'Star Wars Aurebash';
}

.App {
  text-align: center;
  overflow: hidden;
  background-color: black;
  min-height: 100vh;
}

.container-fluid {
  padding: 0px !important;
}


.background-animation-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.centre.container {
  height: 100%;
}

.background-animation-container .cls-1, .background-animation-container .cls-2 {
  fill: none;
  opacity:0.25;
}

.background-animation-container .cls-1 {
  stroke: #fff;
}

.background-animation-container .cls-2 {
  stroke: #fff;
}

.background-animation-container .cls-3 {
  fill: #fff;
}

.background-animation-container .cls-3, .background-animation-container .cls-4 {
  font-size: 5px;
  font-family: Aurebesh;
}

.background-animation-container .cls-4 {
  fill: #a7bfe9;
}

.background-animation-container .cls-5, .background-animation-container .cls-7 {
  opacity: 0.5;
}

.background-animation-container .cls-6 {

}

.background-animation-container .cls-7, .background-animation-container .cls-8, .background-animation-container .cls-9 {
  fill: none;
}

.background-animation-container .cls-7, .background-animation-container .cls-8 {
  stroke: #fff;
}

.background-animation-container .cls-3 {
  stroke-width: 2px;
}

.background-animation-container .cls-5 {
  stroke: none;
}

.background-animation-container .cls-10 {
  stroke:red;
  stroke-miterlimit:10;
  stroke-width:2px;
  transform: rotate(45deg);
  transform-origin: -500px 555px;
  animation: spaceship infinite 100s linear;
}
.background-animation-container svg {
  min-height: 100vh;
}
@keyframes spaceship {
  from { transform-origin: -500px 355px; }
  to { transform-origin: 3500px 900px; }
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.background-animation-container #moon {
  animation: rotate360 infinite 600s linear;
  transform-origin: 50% 50%;
}
@keyframes rotate360 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.moon-9 {
  stroke-dasharray: 4px 20px;
  stroke: rgba(255,0,0,1);
  stroke-width: 8px;
  animation: rotate360 infinite 100s linear;
  animation-direction: reverse;
  transform-origin: 100px 100px;
}
.ray-1 {
  fill: #7b7bff;
}

.ray-1, .ray-2, .ray-3 {
  stroke: #707070;
  opacity: 0.25;
}

.ray-2 {
  fill: #fff;
}

.ray-3 {
  fill: red;
}

.background-animation-container .cls-6, .background-animation-container .cls-8 {
  opacity: 0.5;
}

.background-animation-container .cls-7 {
  fill: #fff;
  stroke: #707070;
}

.background-animation-container .cls-8, .background-animation-container .cls-9, .background-animation-container .cls-11 {
  fill: none;
}

.background-animation-container .cls-8, .background-animation-container .cls-9 {
  stroke: #fff;
}
#moon {
}
.background-animation-container .cls-8 {
  stroke-width: 50px;
  stroke-dasharray: 5px 20px;
  stroke: rgba(255,0,0,1);
  animation: rotate infinite 200s linear;
  transform-origin: 394px 394px;
}
.background-animation-container .cls-4, .background-animation-container .cls-3 {
  opacity: 0.25;
}

.relative {
  position: relative;
  overflow: hidden;
}

.centre-container {
  margin-top: 10px;
}
@media only screen and (min-width: 576px) { }

@media only screen and (min-width: 768px) { }

@media only screen and (min-width: 992px) { }
@media only screen and (min-width: 1200px) { }
@media only screen and (min-width: 1600px) { 
  .App {
    overflow: hidden;
    height: 100vh;
  }
}