.people-results-container {
  min-height: 50px;
}
.people-results-container p {
  font-family: 'Star Wars';
  color: white;
  margin: 0px;
  padding: 15px;
}

.people-results-container p:nth-of-type(1) {
  color: rgba(255,0,0,1);
} 
.search-form {
  width: 100%; 
  min-height: 20vh;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(255,0,0,1);
  background: #000000;
}
.search-container {
  margin-top: 2vh;
}
.bottom-main-container {
}
.submit-button {
  background: #000000;
  border: 1px solid rgba(255,0,0,1);
  color: white;
  transition: background 0.5s;
  background-repeat: no-repeat;
}
.submit-button:hover {
  background: #A7BFE9;
  background-repeat: no-repeat;
  cursor: pointer;
}

.light-board {
  padding: 10px;
  background-color: rgba(255,0,0,0.25);
}
.colors-container {
  border: solid 1px rgba(255,0,0,1);
  min-height: 75px;
  padding: 25px;
  background-color: rgba(255,255,255,0.2);
}
.area-title {
  font: italic 20px "Star Wars"; color: #000;
  text-align: center;
}

@media only screen and (min-width: 576px) { }

@media only screen and (min-width: 768px) {
  .search-form {
    margin: 0px 0px;
    padding: 20px;
    min-height: auto;
  }
  .centre-main-content-holder {
    margin-top: 2vh;
  }
 }

@media only screen and (min-width: 992px) {
 
  .colors-container {
    padding: 10px;
    margin: 0px 0px;
    height: 38%;
  }
  .search-container {
    width: 200px;
  }
  .centre-main-content-holder {
    padding-left: 0px !important;
  }
  .area-title {
    height: 65px;
  }
}
@media only screen and (min-width: 1200px) {
  .centre-main-content-holder {
    height: 69vh;
  }
 
}

@media only screen and (min-width: 1500px) {
  .area-title {
    height: auto;
  }
}