
.circular-lights-container {
  box-shadow:
  0 0 0 2px rgba(255,0,0,1),
  0 0 0px 3px rgba(0,0,0,1);
  background-color: black;
  margin: 0px;
}
.circle-light-container {
  padding: 10px 2px;
}
.circle-light-container svg{
  width: 30px;
  padding: 2px;
}
.circle-light-container .cls-4{
  fill:#fff;
  fill-opacity:0.36;
}