.select-lang-container button {
  color:#A7BFE9;
  border: 1px solid #ffffff;
  background: rgba(123,123,255,0.8);
  padding: 3px 9px;
  margin-bottom: 5px;

}

.select-lang-container p {
  color:#ffffff;

}
.select-lang-container {
  display: none;
}