
.skin-results-container {
  font-family: 'Star Wars';
  color: white;
  text-align: left;
}
.skin-colour-container {
  font-family: 'Star Wars';
  color: white;
  text-align: left;
  height: 100px;
  padding: 15px;
  border: black 10px solid;
  outline: 1px solid white;
  background-color: #000000;
}
